# Environment files
.env
*.env
backend/.env



# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

!backend/models_weights/*.pt
!backend/models_weights/*.pkl
!backend/models_weights/*.pth